.Tooltip {
  color: #fff;
  background: #000;
  opacity: 0.9;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  height: fit-content;

  path {
    fill: #000;
  }
}