.ParticipantList {
  background-color: white;
  margin: 16px;
  box-shadow: 0 0 16px #0a213633;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 20px;

  h3{
    font-size: 1.14em;
    font-weight: normal;
    padding-left: 16px;
    padding-bottom: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid #e8f0f8;
  }

  ul {
    margin: 0;
    padding: 8px;
    overflow: auto;
  
    li {
      list-style: none;
      color: #0a2136;
      padding-left: 8px;
      height: 32px;
      line-height: 32px;
      cursor: default;

      &:hover {
        background-color: #f4f7fb;
      }
    }
  }
}
